<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kean.Core" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.Core.Collection" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.Core.Error" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.Core.Uri" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.IO" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.Math" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.Math.Geometry2D" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.Xml" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.Xml.Dom" version="0.2.0.920" targetFramework="net40" />
  <package id="Kean.Xml.Sax" version="0.2.0.920" targetFramework="net40" />
</packages>