@model Hihapanesu.Web.Models.ViewModels.TestXmlVM
@{
    ViewBag.Title = "TestXml";
}

<h2>TestXml</h2>

@*@Html.Raw(Model.Data)*@
@*@Html.Display(Model.Data)*@
<div>
    @*<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="744.09" height="1052.36">
        <path d="m 7.4965363,18.418094 c -0.7725,-0.6048 13.5809997,-11.9797003 15.1165997,-11.9797003 2.5209,0 0.733,2.0035 -6.333,7.0969003 -7.8517997,5.6597 -7.8163997,5.64 -8.7835997,4.8828 z m -2.1011,19.8266 c -0.9092,-1.6989 -0.7871,-2.6638 0.6085,-4.8084 0.9602,-1.4756 2.4221,-3.1853 3.2487,-3.7994 1.3105997,-0.9737 1.2242997,-1.4703 -0.6749,-3.8848 -2.4645,-3.1331 -2.7528,-4.5183 -0.9276,-4.4561 2.251,0.077 12.6003997,14.4975 12.7080997,17.7074 0.092,2.743 -1.9749,1.0005 -3.8551,-3.25 -2.2938,-5.1856 -4.0714,-5.6218 -7.1308997,-1.75 l -2.173,2.75 3.1611997,0.3179 c 4.0153,0.4038 3.4926,2.5722 -0.7208997,2.9905 -2.3369,0.232 -3.3884,-0.2182 -4.2441,-1.8171 z" transform="translate(24, 24)" />
        <path d="m 21.886067,35.935894 c -0.4062,-2.8875 -0.6467,-5.5875 -0.5345,-6 0.303,-1.1137 -1.5798,-0.9087 -2.2959,0.25 -0.859,1.3899 -5.5,1.2591 -5.5,-0.155 0,-0.691 -0.7346,-0.4902 -1.8288,0.5 -2.4490997,2.2165 -4.7554997,2.0867 -6.4721997,-0.3642 -1.6962,-2.4217 -1.2254,-5.633 1.3197,-9.0015 1.4393,-1.9048 2.1473,-2.2062 3.056,-1.3006 0.9097997,0.9067 0.6914997,1.8031 -0.946,3.8849 -2.4802,3.1529 -2.7528,5.4364 -0.649,5.4364 0.8138,0 2.4059997,-1.8159 3.5382997,-4.0353 2.2614,-4.4327 4.4584,-4.4104 3.482,0.035 -0.3394,1.5453 -0.2009,3.0668 0.3078,3.3812 1.2447,0.7693 4.1441,-2.5586 4.9999,-5.7387 1.3261,-4.9278 2.9063,-1.1603 3.6103,8.6075 0.4651,6.454 0.3558,9.75 -0.3232,9.75 -0.5643,0 -1.3583,-2.3625 -1.7644,-5.25 z" transform="translate(48, 24)" />
    </svg>*@
    @Html.Raw(Model.Data)
</div>
