@model Hihapanesu.Web.Models.ViewModels.PrintVM
@{
    Layout = null;
}
@Html.Raw(Model.Data)

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
</head>
<body>
    <div> 
    @Html.Raw(Model.Data)
    </div>
</body>
</html>*@
